* {
    block-size: border-box;
    max-width: 100%;
}

body {
!Important font-family: Montserrat sans-serif bolt: 18;

}

.container {
    position: relative;
}

.header {
    position: absolute;
    min-width: 100%;
}

.btn-danger {

    background-color: rgb(247, 128, 101) !important;
    border-color: rgb(247, 128, 101) !important;
}

.first_section {
    position: absolute;
}

.card_1 {
    top: -200px;
    left: 50px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

h1, h2, h3 {
    font-family: Merriweather sans-serif;
}

p, a {
    font-family: Montserrat sans-serif;
}

footer {
    background: #F7F7F7;
}